.inner {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.top {
  height: 64px;
}
.top_container {
  composes: inner;
}
.top h1 {
  font-size: var(--h1-size);
  line-height: 2.4;
}

.container {
  display: flex;
  composes: inner;
  height: calc(100vh - 244px);
  padding-bottom: 40px;
}

.column {
  width: var(--column-width);
  /*overflow-x: hidden;*/
}

.column + .column {
  margin-left: var(--column-gap);
}
