.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.container .section {
    display: flex;
    align-items: center;
}
.container .section .icon {
    width: 40px;
}
.container .section .icon:not(.empty) {
    cursor: pointer;
}