body {
  font-family: 'Iceland', Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.inactive svg {
  fill: rgba(133, 133, 173, 1);
}

.inner {
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  composes: inner;
  height: calc(100vh - 244px);
  padding-bottom: 40px;
}

.column {
  width: 568px;
  /*overflow-x: hidden;*/
}

.column + 
.column {
  margin-left: 40px;
}

.top {
  height: 64px;
}
.top_container {
  composes: inner;
}
.top h1 {
  font-size: 36px;
  line-height: 2.4;
}
